*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-size: 18px;
    background: #ffffff;
}

p{
    color: #808D99;
}


a{
    background-color: #FF52BF;
    color: #ffffff;
}

/* main1 styling */
.main1{
    background-image: url("./images/bg-hero-desktop.svg");
    background-color: #EBFBFF;
    width: 100%;
    min-height: 90vh;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.main1 .column1{
    width: 30%;
    min-height: 70%;
    overflow: hidden;
}


.column1 h1{
    min-height: 50%;
    width: 100%;
    margin-bottom: 20px;
}

.column1 p{
    min-height: 30%;
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: 30px;
}

.column1 a{
    min-height: 20%;
    width: 100%;
    text-decoration: none;
    border-radius: 20px;
    padding: 5px 30px;
}


.main1 .column2{
    width: 50%;
    min-height: 70%;
}

.column2 img{
    width: 100%;
    padding: 2rem;
}



/* main2 styling*/

.main2{
    background-color: white;
    margin: auto;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 70%;
    min-height: 60vh;
    padding: 2rem;
    gap: 30px;
    margin-top: 4em;
    box-shadow: 0px 3px 5px #d1d8da;
}

.main2 .column1{
    width: 50%;
    min-height: 70%;
    overflow: hidden;
}


.column1 h2{
    min-height: 50%;
    width: 100%;
    margin-bottom: 20px;
}

.column1 p{
    min-height: 30%;
    width: 100%;
    margin-bottom: 30px;
}

.main2 .column2{
    width: 50%;
    min-height: 70%;
}

.column2 img{
    width: 100%;
}


/* main3 styling */
.main3{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 70%;
    min-height: 60vh;
    padding: 2rem;
    gap: 30px;
    margin-top: 1.8em;
    box-shadow: 0px 3px 5px #d1d8da;
}

.main3 .column1{
    width: 50%;
    min-height: 70%;
    overflow: hidden;
}

.column1 img{
    width: 100%;
}

.main3 .column2{
    width: 50%;
    min-height: 70%;
}

.column2 h2{
    min-height: 50%;
    width: 100%;
    margin-bottom: 20px;
}

.column2 p{
    min-height: 50%;
    width: 100%;
}

/* main4 styling*/
.main4{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 70%;
    min-height: 60vh;
    padding: 2rem;
    gap: 30px;
    margin-top: 1.8em;
    box-shadow: 0px 3px 5px #d1d8da;
}

.main4 .column1{
    width: 50%;
    min-height: 70%;
    overflow: hidden;
}


.column1 h2{
    min-height: 50%;
    width: 100%;
    margin-bottom: 20px;
}

.column1 p{
    min-height: 30%;
    width: 100%;
    margin-bottom: 30px;
}

.main4 .column2{
    width: 50%;
    min-height: 70%;
}

.column2 img{
    width:100%;
}

/* main5 styling */
.main5{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    width: 45%;
    min-height: 40vh;
    padding: 2rem;
    margin-top: 5em;
    box-shadow: 0px 3px 20px #d1d8da;
}

.main5 a{
    text-decoration: none;
    border-radius: 40px;
    padding: 20px 70px;
    margin-top: 30px;
}


/* main6 styling */
.main6{
    gap: 30px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    min-height: 70vh;
    background-color: #00252E;
    color: white;
    margin-top: 2em;
}